<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TOURISM_WEBSITE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TOURISM_WEBSITE.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>
<body>
    <header>
       <div id="menu-bar" class="fas fa-bars"></div>
        <a asp-area="" asp-page="/Index" class="logo">
            <img src="/lib/Images/LOGO.png" alt="Camarines Norte Logo">
        </a>


        <nav class="navbar">
            <a asp-area="" asp-page="/Index">Home</a>
            <a asp-area="" asp-page="/Destinations">Destinations</a>
            <a asp-area="" asp-page="/Explore">Explore</a>
            <a asp-area="" asp-page="/About">About</a>
            <a asp-area="" asp-page="/Contacts">Contact</a>
        </nav>


        <div class="icons">
            <i class="fas fa-search" id="search-btn"></i>
            <i class="fas fa-user" id="login-btn"></i>

        </div>

        <form action="" class="search-bar-container">
            <input type="search" id="search-bar" placeholder="search here..."/>
            <label for="search-bar" class="fas fa-search"></label>

        </form>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>