@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.explore-content{
    background-color:white;
    width:100%;
    height:100%;
}

.scroll{
    margin:0;
    background:white;
    align-content:center;
}
p{
    color:black;
    margin-top:10%;
    font-size:15px;
}

h2{
    color:black;
    font-weight:bold;
}



.home-content .slogan {
    position: relative;
    overflow: hidden;
}

div .home-content {
    background-color: #fed9ff;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    text-align: center;
    padding: 20px;
}



.tagline {
    position: absolute;
    top: 45%;
    left: 33%;
    transform: translate(0, -50%);
    text-align: center;
    color: white; /* Adjust text color as needed */
    font-size: 3rem;
    background-color: transparent;
    font-weight: bold;
    font-family: 'Langar';
}




.home-content {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width:768px) {
    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .slogan {
        position: absolute;
        top: 10%;
        left: 10%;
        transform: translate(0, -50%);
        text-align: left;
        color: white; /* Adjust text color as needed */
        font-size: 1.5rem;
        background-color: transparent;
        font-weight: bold;
    }
}



.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


    section {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section:nth-child(1) {
        color: #;
    }

    section:nth-child(2) {
        color: #ffffff;
    }

    section:nth-child(3) {
        color: #050505;
    }

    section:nth-child(4) {
        color: #050505;
    }

    section.container {
        margin: 100px;
    }

    section h1 {
        font-size: 60px;
    }

    section h2 {
        font-size: 40px;
        text-align: center;
        text-transform: uppercase;
    }

    section .cards {
        display: flex;
    }

        section .cards .text-card {
            background: rgb(255, 255, 255);
            margin: 15px;
            padding: 15px;
        }

            section .cards .text-card h3 {
                font-size: 30px;
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 0px;
            }

@media (max-width: 900px) {
    section h1 {
        font-size: 40px;
    }

    section .cards {
        flex-direction: column;
    }
}

.reveal {
    position: relative;
    transform: translateY(150px);
    transition: all 3s ease;
}

    .reveal.active {
        transform: translateY(0px);
        opacity: 1;
    }

.container .p {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.text-card{
   margin: 10%;
}


   

