
.home-content .slogan {
    position: relative;
    overflow: hidden;
}

.slogan {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(0, -50%);
    text-align: left;
    color: white; /* Adjust text color as needed */
    font-size: 2.5rem;
    background-color: transparent;
    font-weight: bold;
}




.home-content {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;
    object-fit:cover;
}

@media(max-width:768px){
    .background-video {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .slogan {
        position: absolute;
        top: 10%;
        left: 10%;
        transform: translate(0, -50%);
        text-align: left;
        color: white; /* Adjust text color as needed */
        font-size: 1.5rem;
        background-color: transparent;
        font-weight: bold;
    }
}

