@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&family=Barabar&display=swap');


:root{
    
}


* {
    font-family: 'Nunito Sans', sans-serif;
    margin:0; padding:0;
    box-sizing:border-box;
    text-transform:capitalize;
    outline:none; border:none;
    text-decoration:none;
    transition: all .2s linear;
}

 html{
     font-size: 62.5%;
     scroll-padding-top: 6rem;
     scroll-behavior:smooth;

 }





header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 10%;
    margin-top: 2%;
}


    header .navbar a {
        color: white;
        font-size: 2rem;
        text-decoration: none;
        font-style: 'Barabar', sans-serif;
        margin-right:50px;
    }

header .navbar a:hover{
    color:orange;
}

header .icons i{
    font-size:2.5rem;
    color:#fff;
    cursor:pointer;
    margin-right: 2rem;
}

header .icons i:hover {
    color: orange;
}

header .search-bar-container {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1.5rem 2rem;
    background: #333;
    border-top: .1rem solid rgba(255,255,255,.2);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}


header .search-bar-container.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar {
    width: 100%;
    padding: 1rem;
    text-transform: none;
    color: #333;
    font-size: 1.7rem;
}

header .search-bar-container label{
    color:#fff;
    cursor:pointer;
    font-size:3rem;
    margin-left:1.5rem;

}
header .search-bar-container label:hover{
    color:orange;
}


#menu-bar{
    color:#fff;
    border: .1rem solid #fff;
    border-radius: .5rem;
    font-size:3rem;
    padding: .5rem 1.2rem;
    cursor:pointer;
    display:none;
}

@media(max-width:1200px){
    html {
        font-size: 55%;
    }
}

@media(max-width:991px){
    header {
        padding: 1rem 9%;
    }
}

@media(max-width:768px) {
    #menu-bar{
        display:initial;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: #333;
        border-top: .1rem solid rgba(255,255,255,.2);
        padding: 1rem 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

        header .navbar.active {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }

        header .navbar a {
            display: block;
            border-radius: .5rem;
            padding: 1.5rem;
            margin: 1.5rem 0;
            background: #222;
        }
}

.logo img {
    width: auto;
    height: 60px; 
    object-fit: contain;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black; 
}


main {
    margin-top: 5rem;
    display: flex;
    bottom: 0;
    background-color: aqua;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
<<<<<<< HEAD
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/lib/Images/FINAL.gif");
  
    background-size: cover;
}

@media (max-width: 768px) {
    main {
        width:100%;
        height:100%;

    }
}



=======
    background-color: white;
}
>>>>>>> 0ebb62f4407b09625e333e582a1999b9509c0683
