@page
@model TOURISM_WEBSITE.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<link rel="stylesheet" href="~/css/About.css" asp-append-version="true" />


<div class="About-main-content">
    <h1>ABOUT</h1>

    <section>
        <img src="~/lib/Images/ABOUT-PICTURE.png" alt="About Pic" class="about-pic">

        <div class="text-content">
            <h3>CAMARINES NORTE</h3>
            <p>Welcome to the vibrant and enchanting province of Camarines Norte,</p>
            <p> a gem nestled in the heart of the Bicol Region in the Philippines.</p>
            <p>Rich in history, blessed with natural wonders, and adorned with warm and welcoming communities,</p>
            <p>Camarines Norte invites you to explore its unique blend of tradition and modernity.</p>

        </div>
    </section>
</div>
