@page
@model TOURISM_WEBSITE.Pages.DestinationsModel
@{
    ViewData["Title"] = "Destinations";

}
<h1>DESTINATIONS</h1>
<div class="destinations-content">
    <figure>
        <img src="https://picsum.photos/id/287/250/300" alt="Mountains">
        <figcaption>The Day</figcaption>
    </figure>
    <figure style="--c:#fff5">
        <img src="https://picsum.photos/id/475/250/300" alt="Mountains">
        <figcaption>The Night</figcaption>
    </figure>
</div>