@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

 <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<div class="content">
   <p>This is the home page</p>
   
</div>
