@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/home.css">
</head>
<body>

    <div class="home-content">
        <!-- carousel -->
        <section class="carousel">
            <!-- list item -->
            <div class="list">
                <!--FIRST ITEM POP ON THE HOME SCREEN-->
                <div class="item">
                    <img src="~/lib/Images/calaguas.jpg">
                    <div class="content">
                        <div class="title">CAMARINES NORTE</div>
                        <div class="topic">CALAGUAS ISLAND</div>
                        <div class="des">
                            <!-- lorem 50 -->
                            With its long stretch of fine white sand beach and perfectly turquoise water, Calaguas Island will definitely make you fall in love with the place.
                        </div>
                        <div class="buttons">
                            <button>SEE MORE</button>
                            <button class="subcribe">SUBSCRIBE</button>
                        </div>
                    </div>
                </div>

                <!--SECOND ITEM-->
                <div class="item">
                    <img src="/lib/Images/Mampurog.jpg">
                    <div class="content">
                        <div class="author">LUNDEV</div>
                        <div class="title">CAMARINES NORTE</div>
                        <div class="topic">MAMPUROG</div>
                        <div class="des">
                            Mampurog River is the most popular river resort in the province of Camarines Norte, which is located in San Lorenzo near the capital town of Daet.
                        </div>
                        <div class="buttons">
                            <button>SEE MORE</button>
                            <button>SUBSCRIBE</button>
                        </div>
                    </div>
                </div>

                <!--THIRD ITEM-->
                <div class="item">
                    <img src="/lib/Images/parola.jpeg">
                    <div class="content">
                        <div class="author">LUNDEV</div>
                        <div class="title">CAMARINES NORTE</div>
                        <div class="topic">PAROLA ISLAND</div>
                        <div class="des">
                            Parola Island is for those who prefer adventure away from the crowd. There is no electricity or other facilities in the island.
                        </div>
                        <div class="buttons">
                            <button>SEE MORE</button>
                            <button>SUBSCRIBE</button>
                        </div>
                    </div>
                </div>

                <!--FOURTH ITEM-->
                <div class="item">
                    <img src="/lib/Images/Maculabo Island Paracale.png">
                    <div class="content">
                        <div class="author">LUNDEV</div>
                        <div class="title">CAMARINES NORTE</div>
                        <div class="topic">MACULABO ISLAND</div>
                        <div class="des">
                            Maculabo, a small island off the coast of Paracale, is approximately 300 hectares in land area.
                        </div>
                        <div class="buttons">
                            <button>SEE MORE</button>
                            <button>SUBSCRIBE</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- list thumnail -->
            
            <div class="thumbnail">
                <!--FIRST ITEM ON THE LIST BELOW-->
                <div class="item">
                    <img src="/lib/Images/calaguas.jpg" class="low-opacity">

                    <div class="content">
                        <div class="title">
                            CALAGUAS
                        </div>
                        <div class="CALAGUAS ISLAND">
                            ISLAND
                        </div>
                    </div>
                </div>

                <!--2ND ITEM ON THE LIST BELOW-->
                <div class="item">
                    <img src="~/lib/Images/Mampurog.jpg" class="low-opacity">
                    <div class="content">
                        <div class="title">
                            MAMPUROG
                        </div>
                        <div class="description">
                            RIVER
                        </div>
                    </div>
                </div>

                <!--3D ITEM ON THE LIST BELOW-->
                <div class="item">
                    <img src="/lib/Images/parola.jpeg">
                    <div class="content">
                        <div class="title_1">
                            PAROLA
                        </div>
                        <div class="description_1">
                            ISLAND
                        </div>
                    </div>
                </div>

                <!--4TH ITEM ON THE LIST BELOW-->
                <div class="item">
                    <img src="/lib/Images/Maculabo Island Paracale.png">
                    <div class="content">
                        <div class="title">
                            MACULABO
                        </div>
                        <div class="description">
                            ISLAND
                        </div>
                    </div>
                </div>
            </div>
            <!-- next prev -->

            <div class="arrows">
                <button id="prev"><</button>
                <button id="next">></button>
            </div>
            <!-- time running -->
            <div class="time"></div>
        </section>
        <section class="overview">
            <div class="overview-contents">
                <h1 class="overview-title">What's in Camarines Norte?</h1>
                <p class="overview-context">
                    Our clients' bottom line is our top priority.
                    We are in constant communication with the people we serve and are
                    committed to advancing the immediate needs and wants of our clients.
                    Our team works around the clock to provide the necessary services and
                    support that each client needs from us.
                </p>
                <button>EXPLORE NOW!</button>
            </div>
            <div class="overview-img">
                <img src="~/lib/images/pics2.png" />
            </div>
        </section>
        <section class="festivals">
            <h1>Fun and Cool Festivals</h1><
            <img src="~/lib/images/slidestat.png" />
            
        </section>
        <section class="overview2">
            <div class="overview-img2">
                <img src="~/lib/images/overviewimg.png" />
            </div>
            <div class="overview-contents2">
                <h1 class="overview-title2">What's in Camarines Norte?</h1>
                <p class="overview-context2">
                    Our clients' bottom line is our top priority.
                    We are in constant communication with the people we serve and are
                    committed to advancing the immediate needs and wants of our clients.
                    Our team works around the clock to provide the necessary services and
                    support that each client needs from us.
                </p>
                <button>EXPLORE NOW!</button>
            </div>
        </section>
    </div>


    <script>
        let nextDom = document.getElementById('next');
        let prevDom = document.getElementById('prev');

        let carouselDom = document.querySelector('.carousel');
        let SliderDom = carouselDom.querySelector('.carousel .list');
        let thumbnailBorderDom = document.querySelector('.carousel .thumbnail');
        let thumbnailItemsDom = thumbnailBorderDom.querySelectorAll('.item');
        let timeDom = document.querySelector('.carousel .time');

        thumbnailBorderDom.appendChild(thumbnailItemsDom[0]);
        let timeRunning = 3000;
        let timeAutoNext = 7000;

        nextDom.onclick = function () {
            showSlider('next');
        }

        prevDom.onclick = function () {
            showSlider('prev');
        }
        let runTimeOut;
        let runNextAuto = setTimeout(() => {
            next.click();
        }, timeAutoNext)
        function showSlider(type) {
            let SliderItemsDom = SliderDom.querySelectorAll('.carousel .list .item');
            let thumbnailItemsDom = document.querySelectorAll('.carousel .thumbnail .item');

            if (type === 'next') {
                SliderDom.appendChild(SliderItemsDom[0]);
                thumbnailBorderDom.appendChild(thumbnailItemsDom[0]);
                carouselDom.classList.add('next');
            } else {
                SliderDom.prepend(SliderItemsDom[SliderItemsDom.length - 1]);
                thumbnailBorderDom.prepend(thumbnailItemsDom[thumbnailItemsDom.length - 1]);
                carouselDom.classList.add('prev');
            }
            clearTimeout(runTimeOut);
            runTimeOut = setTimeout(() => {
                carouselDom.classList.remove('next');
                carouselDom.classList.remove('prev');
            }, timeRunning);

            clearTimeout(runNextAuto);
            runNextAuto = setTimeout(() => {
                next.click();
            }, timeAutoNext)
        }
    </script>
</body>
</html>