@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<div class="main-content">
    <h4>hello</h4>
    <div class="col">
        <div class="card" onclick="handleCardClick('District 1')">
            <h5>Distric 1</h5>
            <p>blahblahbalh</p>
        </div>
             <div class="card" onclick="handleCardClick('District 2')">
            <h5>Distric 2</h5>
            <p>blahblahbalh</p>
        </div>

        <div class="card" onclick="handleCardClick('District 3')">
            <h5>Distric 3</h5>
            <p>blahblahbalh</p>
        </div>
        <div class="card" onclick="handleCardClick('District 4')">
            <h5>Distric 4</h5>
            <p>blahblahbalh</p>
        </div>


    </div>
</div>
