@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<link href='https://fonts.googleapis.com/css?family=Langar' rel='stylesheet'>
<div class="home-content">
    <img src="/lib/Images/Maculabo Island Paracale.png" alt="Background Image" class="background-image">

    <h5 class="slogan">
        CAMARINES NORTE
    </h5>
</div>
