@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<div class="home-content">
    <h5>THIS IS HOME PAGE</h5>




</div>