@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<link href='https://fonts.googleapis.com/css?family=Langar' rel='stylesheet'>
<div class="home-content">
    <img src="/lib/Images/Maculabo Island Paracale.png" alt="Background Image" class="background-image">
    <img src="/lib/Images/Provl Capitol.jpg" alt="Background Image" class="background-image2">
    <h5 class="slogan">
        CAMARINES NORTE
    </h5>

    <section class="body">
        
        <div class="slider-wrapper">
            <div class="textcontent">
                <h5 class="slogan2">
                    ALL ABOUT CAMARINES NORTE
                </h5>
            </div>
            <div class="image1">
                <img id="#" src="/lib/Images/monumsplash.png" />
            </div>

            <div class="image2">
                <img id="#" src="/lib/Images/macusplash.png" />
            </div>

        </div>
    </section>
</div>
