@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<link href='https://fonts.googleapis.com/css?family=Langar' rel='stylesheet'>
<div class="home-content">
    <img src="/lib/Images/Maculabo Island Paracale.png" alt="Background Image" class="background-image">

    <h5 class="slogan">
        CAMARINES NORTE
    </h5>

    <section class="slider-container">
        <div class="slider-wrapper">
            <div class="slider">
                <img id="#" src="/lib/Images/Maculabo Island Paracale.png" />
                <img id="#" src="~/lib/Images/Mag Asawang Bato Salvacion Sta. Elena.jpg" />   
                <img id="#" src="/lib/Images/Mampurog.jpg" />
                <img id="#" src="/lib/Images/Mampurog.jpg" />
                <img id="#" src="/lib/Images/Mahabang Buhangin Calaguas Islands.jpg" />
            </div>
        </div>
    </section>
</div>
